@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fffaf0;
  font-family: "Noto Sans Arabic", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 2px 2px 2px 2px #00000071;
  position: fixed;
  width: 100%;
  z-index: 100;
}

h4,
h6 {
  font-family: "Noto Sans Arabic", sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
}

img {
  border-radius: 5%;
  border: 3px solid silver;
  margin: 10%;
}

nav img {
  width: 50px;
  border-radius: 50%;
  margin: 0;
}

.travel-block {
  padding: 15px;
  margin: 10px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  text-align: center;
}

h2,
h4 {
  font-family: "Noto Sans Arabic", sans-serif;
}

p,
h6,
a {
  font-family: "Noto Sans Arabic", sans-serif;
}

.btn {
  border: 2px solid black;
  padding: 10px 20px;
  background-color: black;
  color: silver;
  margin: 10px;
}

.js a:hover {
  background-color: silver;
  color: black;
}

img {
  margin: auto;
  border-radius: 5%;
  border: 3px solid silver;
}

.js {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}

.js p {
  text-align: center;
}

.image-txt {
  font-size: large;
  position: relative;
  text-align: center;
  color: white;
}

.txt-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-lg {
  padding-top: 150px;
}

h6 {
  font-size: 20px;
}

hr {
  height: 1px;
  width: 95%;
  background-color: #000000;
}

.parent {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}


.parent a {
  text-decoration: none;
  color: #000000b0;
  background-color: #dddddd;
  width: 50%;
  min-height: 100px;
  margin: auto;
  padding: auto;
  margin-top: 30px;
  border-radius: 5px;
  box-sizing: border-box;
}


.box img {
  height: 100px;
  float: left;
  border: none;
}


.box p {
  margin-right: 25px;
  padding: 35px;
}

.box:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

footer h4 {
  font-family: "Pacifico", cursive;
}

footer p {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 22px;
  margin-top: 5px;
  font-family: "Noto Nastaliq Urdu", serif;
}

footer {
  border-top: 1px solid;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
  }

  .parent a {
    width: 95%;
  }
}
